* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

h2,
h2,
h3,
h4,
h5 {
    font-family: 'Fjalla One', sans-serif;
}

/*Inicio de menu*/
.navbar{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: gold;
}
.nav-link{
color: white;
transition: 0.2s linear;
}
.navbar:hover{
    color: gold;
}

.nav-link:hover{
    color: gold;
}

.collapse:hover{
    color: gold;
}

/*Despliegue de menu*/
.dropdown-menu{
    background-color: black;
}

.dropdown-item{
    color: white;
    transition: 0.2s linear;
}

.dropdown-item:hover{
    background-color: gold;
}
.dropdown:hover .dropdown-menu{
    display: block;
 }
/*Fin despliegue de menu*/

